body {
    font-family: "serif";
    padding: 50px; 
}
.left-section {
    position: absolute; 
        top: 50%;
        transform: translate(30%, -50%);
    }
.top {
        background-color: black;
        padding: 5px 30px 5px;
        color: white;
    text-align: center;
}
.top a {
    color: white;
    text-decoration: none;    
}
.middle {
    text-align: center;
    padding-top: 50px;
}
.middle a {
    color: black;
    text-decoration: none;
    }
.right-section {
    position: absolute;
    left: 50%;
    transform: translate(-45%);
    width: 1020px;
    height: 1000px;
    overflow: auto;  
}
.furnish {
    padding: 0 0 50px;
}
.f1 {
    padding: 50px 0 30px;
}
.f6 {
    padding: 30px 0 30px;
}
.f7 {
    padding: 30px 0 30px;
}
.f8 {
    padding: 30px 0 30px;
}
.f11 {
    padding: 30px 0 30px;
}
.f12 {
    padding: 30px 0 30px;
}
.f17 {
    padding: 30px 0 30px;
}
.f18 {
    padding: 30px 0 30px;
}
.f19 {
    padding: 30px 0 30px;
}
