body {
    font-family: "serif";
    padding: 50px; 
}
.left-section {
    position: absolute; 
        top: 50%;
        transform: translate(30%, -50%);
    }
.top {
        background-color: black;
        padding: 5px 30px 5px;
        color: white;
    text-align: center;
}
.top a {
    color: white;
    text-decoration: none;    
}
.middle {
    text-align: center;
    padding-top: 50px;
}
.middle a {
    color: black;
    text-decoration: none;
    }
.right-section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 30px auto;
    width: 1020px;
    height: 1000px;
    overflow: auto;
}
.artist-statement {
    width: 800;
    font-size: large;
    text-align: justify
}
.m1 {
    padding: 30px 0 80px;
}
.m2 {
    padding: 30px 0 80px;
}
.m3 {
    padding: 30px 0 80px;
}
.m4 {
    padding: 30px 0 80px;
}
.m5 {
    padding: 30px 0 80px;
}
.m6 {
    padding: 30px 0 80px;
}